<div class="card bg-dark text-white my-3">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form [formGroup]="formulario" (ngSubmit)="crearCliente()">

      <!-- Campo Código -->
      <div class="form-group row">
        <label for="codigo" class="col-form-label col-sm-2">Codigo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="codigo">
          <div *ngIf="formulario.get('codigo')?.invalid && formulario.get('codigo')?.touched" class="text-danger">
            <small *ngIf="formulario.get('codigo')?.errors?.['required']">El codigo es obligatorio.</small>
            <small *ngIf="formulario.get('codigo')?.errors?.['codigoDuplicado']">El codigo ya está en uso.</small>
            <small *ngIf="formulario.get('codigo')?.errors?.['codigoInvalido']">El codigo debe tener 6 digitos y
              terminar en 456</small>
          </div>
        </div>
      </div>

      <!-- Campo Nombre -->
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="nombre">
          <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched" class="text-danger">
            <small *ngIf="formulario.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
            <small *ngIf="formulario.get('nombre')?.errors?.['minlength']">Debe tener al menos 5 caracteres.</small>
            <small *ngIf="formulario.get('nombre')?.errors?.['maxlength']">Debe tener al máximo 20 caracteres.</small>
          </div>
        </div>
      </div>

      <!-- Campo Apellido -->
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="apellido">
          <div *ngIf="formulario.get('apellido')?.invalid && formulario.get('apellido')?.touched" class="text-danger">
            <small *ngIf="formulario.get('apellido')?.errors?.['required']">El apellido es obligatorio.</small>
            <small *ngIf="formulario.get('apellido')?.errors?.['minlength']">Debe tener al menos 5 caracteres.</small>
            <small *ngIf="formulario.get('apellido')?.errors?.['maxlength']">Debe tener al máximo 20 caracteres.</small>
          </div>
        </div>
      </div>

      <!-- Campo Email -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="email">
          <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="text-danger">
            <small *ngIf="formulario.get('email')?.errors?.['required']">El email es obligatorio.</small>
            <small *ngIf="formulario.get('email')?.errors?.['email']">El correo no sigue un formato válido.</small>
            <small *ngIf="formulario.get('email')?.errors?.['dominioInvalido']">El correo debe terminar en
              &#64;unicauca.edu.co.</small>
          </div>
        </div>
      </div>

      <!-- Botón Crear -->
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">Crear</button>
        </div>
      </div>

    </form>
  </div>
</div>